body  {
    background-color: #F5F5F5;
}
html>body{font-family:'Work Sans','Helvetica','Arial',sans-serif!important;color: #555866;}
h1, h2, h3 {
    font-family: 'Lora', serif !important;
    color: #555866 !important;
    font-weight: 400 !important;
}
h1, span#mainpage p {
    font-family: 'Lora', serif !important;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    border-bottom: 1px dotted #555866;
}
h3 {
    font-size: 1.3em;
}
p {
    letter-spacing: 0rem !important;
    width: 100% !important;
    line-height: 2em !important;
}

code {
font-family: 'Lucida Console', 'Courier New', monospace;
width: auto;
font-weight: normal;
text-indent: 0;
letter-spacing: 0;
font-size: 0.9em;
/*margin: 0 0.25em;
padding: 0.25em 0.5em; */
background-color: rgba(144,144,144,0.25);
border-radius: 0.25em;
}

footer {
    margin-top: 2em;
    margin-bottom: 5em;
}