body  {
    background-color: #576270;
    opacity: 0.8;
    background-image: radial-gradient(#d2d2d3 0.6000000000000001px, #576270 0.6000000000000001px);
    background-size: 40px 40px;
}
html>body{font-family:'Work Sans','Helvetica','Arial',sans-serif!important;color: #FFFFFF;}
h1, h3 {
    font-family: 'Lora', serif !important;
    color: #FFFFFF !important;
    font-weight: 400 !important;
}
h1, span#mainpage p {
    font-family: 'Lora', serif !important;
    font-size: 1.8em;
}
h2 {
    font-family: 'Lora', serif !important;
    font-weight: 400 !important;
    font-size: 1.5em;
    border-bottom: 1px dotted #FFFFFF;
    color: #FFFFFF;
}
h3 {
    font-size: 1.3em;
}
p {
    letter-spacing: 0rem !important;
    width: 100% !important;
    line-height: 2em !important;
}

code {
font-family: 'Lucida Console', 'Courier New', monospace;
width: auto;
font-weight: normal;
text-indent: 0;
letter-spacing: 0;
font-size: 0.9em;
/*margin: 0 0.25em;
padding: 0.25em 0.5em; */
background-color: rgba(144,144,144,0.25);
border-radius: 0.25em;
}

footer {
    margin-top: 2em;
    margin-bottom: 5em;
}